<div>
    <header></header>
    <table class="table table-bordered table-hover table-responsive table-dark table-striped">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in usersData">
                <td>{{$index + 1}}</td>
                <td>{{user.first_name + " " + user.last_name}}</td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>
</div>